.container {
  padding: 50px;
}
.TD-tile {
  color: black;
}
.win {
  background-color: #23d160;
  color: #fff;
}
.fail {
  background-color: #ff3860;
  color: #fff;
}
.Board0{
  background-color: #000000;
}
.Board1{
  background-color: #d9d9d9;
}
.Board2{
  background-color: #323232;
}
.Board3{
  background-color: #ffffff;
}
.content table td, .content table th {
    border: 1px solid #dbdbdb;
    padding: 0.5em 0.75em;
    vertical-align: middle;
    height: 50px;
    text-align: center;
}
.content table {
  width: 80%;
  margin: 0 auto;
}
.content table tr:hover {
    background-color: transparent;
}
.TD-tile:hover {
  cursor: pointer;
}